.main-chat
  .rightHeader
    .rightHeader__group
      .rightHeader__groupName
        test
      %ul.rightHeader__groupMembers
        Member：
        %li.rightHeader__groupMember<
          aaa
        %li.rightHeader__groupMember<
          bbb
        %li.rightHeader__groupMember<
          ccc
    = link_to "#",class: "rightHeader__edit-btn" do
      Edit
  .rightBody
  .rightFooter