.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .current_group
        test
      %ul.member
        Menber
        %li.member__list<
          aaa
        %li.member__list<
          bbb
        %li.member__list<
          ccc
    .main-chat__group-info__right-box
      = link_to "#" do
        .main-chat__group-info__right-box__edit-btn
          Edit
  .main-chat__message_list
  .main-chat__message_form