.main-chat
  .rightHeader
    .rightHeader__group
      .rightHeader__groupName
        test
      %ul.rightHeader__groupMembers
        Member：
        %li.rightHeader__groupMember<
          aaa
        %li.rightHeader__groupMember<
          bbb
        %li.rightHeader__groupMember<
          ccc
    = link_to "#",class: "rightHeader__edit-btn" do
      Edit
  .rightBody
    .rightBody__sender
      %ul.rightBody__senderLists
        %li.rightBody__senderName<
          masa
        %li.rightBody__senderDate<
          19XX/01/01(Wed) 04:44:44          
    .rightBody__comment
      私メリー、今後ろにいるの
    .rightBody__sender
      %ul.rightBody__senderLists
        %li.rightBody__senderName<
          masa
        %li.rightBody__senderDate<
          19XX/01/01(Wed) 04:44:44
    .rightBody__comment
      私メリー、今後ろにいるの
  .rightFooter
    .rightFooter__form
      %form.rightFooter__input
        %input.rightFooter__message
        %input.rightFooter__image 
          = icon('far', 'edit', class: "rightHeader__image" )
      %input.rightFooter__send-btn