.main-chat
  .main-chat__top
    .main-chat__top__current-group
      .current-group__name
        test
      %ul.current-group__members
        Menber
        %li.current-group__member<
          aaa
        %li.current-group__member<
          bbb
        %li.current-group__members<
          ccc
      = link_to "#",class: "main-chat__group-info__edit-btn" do
        Edit
  .main-chat__message-list
  .main-chat__message-form