.rightBody__message{data: {message: {id: message.id}}}
  .rightBody__sender
    %ul.rightBody__senderLists
      %li.rightBody__senderName<
        = message.user.name
      %li.rightBody__senderDate<
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .rightBody__comment
    - if message.body.present?
      = message.body
    = image_tag message.image.url, class: 'Message__image' if message.image.present?