.side-bar
  .side-bar__top
    .top-items
      .top-items__name
        masa
      %ul.top-items__icons
        %li<
          = link_to "#", class: "top-items__icon" do
            = icon('far', 'edit', class: "top-items__icon__edit" )
        %li<
          = link_to "#", class: "top-items__icon" do
            = icon('fas', 'cog', class: "top-items__icon__cog" )
  .side-bar__bottom
    .group-items
      .group-items__name
        techcamp
      .group-items__info
        まだメッセージがありません
    .group-items
      .group-items__name
        techcamp
      .group-items__info
        まだメッセージがありません
    .group-items
      .group-items__name
        techcamp
      .group-items__info
        まだメッセージがありません
