.side_bar
  .side_bar__user-name
    .top-items
      .top-items__name
        masa
      %ul.top-items__icons
        %li<
          = link_to "#", class: "top-items__icons__btn" do
            = icon('far', 'edit', class: "top-items__icons__edit" )
        %li<
          = link_to "#", class: "top-items__icons__btn"  do
            = icon('fas', 'cog', class: "top-items__icons__cog" )
  .side_bar__group-list
    .under-items
      .under-items__group-name

      .under-items__group-info
