// CSSの仕様で、paddingなどの設定を行った場合、その要素全体のサイズが大きくなってしまいます。
// それを防ぐため、下記でbox-sizingを設定する。（defaultはcontentsーbox）
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

a {
  text-decoration: none;
}

.side_bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
      }
      &__icons {
       width: 60px;
       display: flex;
       justify-content: flex-end;
        &__btn {
          text-decoration: none;
        }
        &__edit {
          color: #ffffff;
          font-weight: bold;
          margin-right: 5px;
        }
        &__cog {
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    .under-items {
      padding: 20px 0 40px ;
      &__group-name {
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 5px;
      }
      &__group-info {
        font-size: 11px;
        color: #ffffff;
      }
    }
  }
}

.main_chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  &__message_list {
    height: calc(100vh - 100px - 90px );
    background-color: #fafafa;
  }
  &__message_form {
    height: 90px;
    background-color: #d2d2d2;
  }
}