// CSSの仕様で、paddingなどの設定を行った場合、その要素全体のサイズが大きくなってしまいます。
// それを防ぐため、下記でbox-sizingを設定する。（defaultはcontentsーbox）
* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.main_chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}